		<p>
			<strong>■ユーザー登録</strong><br>
			本ソフトウェアを使用するためにユーザー登録が必要です。<br>
			以下のURLでユーザーIDの登録を行ってください。<br>
		</p>
		<p><a href="https://livechatcof.herokuapp.com/adduser">https://livechatcof.herokuapp.com/adduser</a></p>
		<p>
			インターネット越しにPCを接続する場合は、2つのユーザーIDを取得する必要があります。
			登録時に使用するEメールアドレスは重複してもかまいません。
		</p>
		<p>
			<strong>■他のPCへ接続する手順</strong><br>
		</p>
		<p>
			<strong>1.起動</strong><br>
			デスクトップに作成されたアイコンをクリックします。<br>
		</p>
		<p>
			<strong>2.ログイン</strong><br>
			起動後に、登録したユーザーIDとパスワードでログインします。<br>
			<img src="/static/images/001_login.png" Width="320">
	    </p>
		<p>
			<strong>3.メニュー内の「接続先の追加」を選択し、接続先を追加します。</strong><br>
			<img src="/static/images/005_add_user_id.png" ><br>
			
	    </p>
		<p>
			<strong>4.追加した接続先をダブルクリックします。</strong><br>
			<img src="/static/images/002_contactlist.png" Width="320" ><br>
	    </p>
		<p>
			<strong>5.接続が成功すれば接続画面に移行します。</strong><br>
			<img src="/static/images/003_filelist.png" Width="320" ><br>
			接続先が内蔵Webサーバーの場合は、内蔵Webブラウザを使用してデータが表示されます。<br>
			任意プロトコルの場合は、「127.0.0.1:[トンネルポート番号]」に任意のアプリケーションで接続してください<br>
			トンネルポート番号は、ウインドウ下部に表示されます。
	    </p>
