		<p>
			<strong>Sign up</strong><br>
			To use this software, you need to sign up.<br>
			Please sign up by URL.<br>
		</p>
		<p><a href="https://livechatcof.herokuapp.com/adduser">https://livechatcof.herokuapp.com/adduser</a></p>
		<p>
			If you want to connect 2 PCs , you get 2 user ID.
		</p>
		<p>
			<strong>How to connect PCs</strong><br>
		</p>
		<p>
			<strong>1. How to run this software.</strong><br>
			Click icon 'Join.NET' on desktop<br>
		</p>
		<p>
			<strong>2. Login</strong><br>
			After running up software, login to use your user ID and password<br>
			<img src="/static/images/001_login.png" Width="320">
	    </p>
		<p>
			<strong>3. Select 'Add connection' on menu, and add user ID of connection target.</strong><br>
			<img src="/static/images/005_add_user_id.png" ><br>
			
	    </p>
		<p>
			<strong>4. Double click target user ID</strong><br>
			<img src="/static/images/002_contactlist.png" Width="320" ><br>
	    </p>
		<p>
			<strong>5. After connecting, this software show connection page.</strong><br>
			<img src="/static/images/003_filelist.png" Width="320" ><br>
			At default, this software show internal webbrowser.<br>
			If target setting is 'Any protocol mode', you should connect by any application.<br>
			Tunneling port is shown at bottom of window.
	    </p>
